.contact {

    height: auto;

    @media screen and (min-width: 992px) {
        height: 100%;
    }

    .card :is(.form-label, .form-select, .form-control, .btn, .accordion-button) {
        font-size: 1.6rem;

    }

    .form__contact {
        container-type: inline-size;
        /* Habilita el uso de consultas de contenedor */
        container-name: form-contact;
        /* Asigna un nombre al contenedor */
        ;


    }

    .form__footer-btn {

        @media screen and (min-width: 500px) {
            height: 10lvh;
        }

        @media screen and (min-width: 600px) {
            height: 5lvh;
        }
    }

    @container form-contact (max-width: 600px) {
        .form__footer-btn {
            width: 100%;
            /* El botón ocupará todo el ancho */
            display: block;
            /* Asegura que el botón sea un bloque */
            text-align: center;
            /* Centra el texto dentro del botón */
        }


    }

}