.footer {
  //background-color: #3b6f6e;
  //color: $color_white;
  //text-align: center;
  //font-size: 1.4rem;

  a {
    color: $color_white;

    &:hover {
      color: $color_orange;
    }
  }

  //Contingunt del footer
  //&__container {
  //  @include flex(column, center, center, center);
  //  padding: 1rem 0;
  //  max-width: 100%;
  //  margin: auto;
  //
  //  @media screen and (min-width: $mq-min-width-800) {
  //    max-width: 80%;
  //    flex-direction: column;
  //    justify-content: space-between;
  //  }
  //}

  //&__1 {
  //  @include flex(column, center, center, center);
  //  gap: 1rem;
  //  width: 90%;
  //
  //  @media screen and (min-width: $mq-min-width-800) {
  //    @include flex(row, space-between, center, center);
  //    width: 90%;
  //  }
  //}

  //&__2 {
  //
  //  @include flex(column, space-between, center, center);
  //  width: 100%;
  //  gap: 1rem;
  //
  //  @media screen and (min-width: $mq-min-width-992) {
  //    flex-direction: row;
  //    width: 90%;
  //  }
  //}

  &__menu {
    @media screen and (min-width: $mq-min-width-1000) {
      @include flex(row, space-around, center, center);
      padding: 0;
      gap: 2rem;
    }
  }

  // XARXES SOCIALS DEL FOOTER
  &__medias {
    @include flex(row, space-around, center, center);
    padding: 0;
    list-style: none;
    gap: 2rem;
  }
}

.footer__newslater {
  // width: 100;
  display: grid;
  @include grid-template-row(repeat(3, auto));

  @media screen and (min-width: $mq-min-width-800) {

    @include grid-template-area(repeat(2, auto), repeat(2, auto));
    justify-items: start;

    &__subs {
      grid-column: 1 / span 2;
      text-align: left;
    }
  }
}
