.footer {

  a {
    color: $color_white;

    &:hover {
      color: $color_orange;
    }
  }

  &__menu {
    @media screen and (min-width: $mq-min-width-1000) {
      @include flex(row, space-around, center, center);
      padding: 0;
      gap: 2rem;
    }
  }

  // XARXES SOCIALS DEL FOOTER
  &__medias {
    @include flex(row, space-around, center, center);
    padding: 0;
    list-style: none;
    gap: 2rem;
  }
}

