.poster {

    background-image: url(../images/micro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    // transform: rotate(90);


    @supports (background-image: url('image.webp')) {
        background-image: url(../images/micro.webp);
    }
}

.poster__content {
    /* Ocupa todo el espacio disponible */
    position: relative;
    /* Asegura que el contenido esté sobre el fondo */
    z-index: 1;
    /* Coloca el contenido por encima de la imagen */
    padding: 1rem 2rem;
    /* Añade espacio alrededor del contenido */
    color: $color_orange;
    /* Cambia el color del texto para que sea visible sobre la imagen */
    text-align: center;
    /* Centra el contenido */
    @include flex(column, center, center, center);

    width: 90%;
    margin: 0 auto;

    gap: 1rem;

    @media screen and (min-width: $mq-min-width-800) {
        width: 80%;

    }
}

// @supports not (display: grid) {
.poster__title {
    width: 100%;
    container-type: inline-size;
    container-name: titleh1;

    @media screen and (min-width: $mq-min-width-800) {
        width: 60%;
    }

    &__h1 {
        border-radius: 2rem;
        padding: 1rem 2rem;
        font-weight: bold;
    }

}

@container titleh1 (min-width: 600px) {
    .poster__title-h1 {
        font-size: 3rem;
        border-radius: 2.5rem;
    }
}

.poster__subtitle {
    width: 80%;

    @media screen and (min-width: $mq-min-width-800) {
        width: 40%;

    }

    &__daily {
        border-radius: 20px;
        padding: 1rem 2rem;
        font-weight: bold;
    }
}

.poster__resume {
    @include box-border(3px solid $color_blue, 5px, $color_white, 1rem 2rem);
    color: $color_blue;
    width: 100%;

    @media screen and (min-width: $mq-min-width-800) {
        width: 80%;
    }

    @media screen and (min-width: $mq-min-width-992) {
        width: 60%;
    }
}


//passar a container
.poster__group-list {
    width: 60%;

    @media screen and (min-width: $mq-min-width-800) {
        width: 40%;
    }

    @media screen and (min-width: $mq-min-width-992) {
        width: 25%;
    }
}

.poster__div-more {
    width: 60%;

    @media screen and (min-width: $mq-min-width-800) {
        width: 40%;
    }

    @media screen and (min-width: $mq-min-width-992) {
        width: 25%;
    }

    .btn {
        font-size: 2rem;
        width: 100%;
        font-weight: bold;
        background-color: $color_orange;
        color: $color_white;
    }

    .btn:hover {
        background-color: $color_blue;
    }
}

// .cutom-box-h1 {}

// }

@supports (display: grid) {
    .poster__content {
        @include grid-template-row(repeat(6, auto), 1rem);
        display: grid;
        text-align: center;
        align-items: center;
        justify-items: center;

        width: 100%;
        margin: 0 auto;

        @media screen and (min-width: $mq-min-width-800) {
            @include grid-template-area(repeat(5, auto), repeat(2, 1fr), 1rem, 1rem);
            width: 90%;

            .poster__title,
            .poster__subtitle,
            .poster__resume,
            .poster__div-more {
                grid-column: 1 / span 2;
            }

            .poster__group-list {
                width: 60%;
                margin: 0 auto;
            }

            .poster__col1 {
                margin-right: 0;
            }

            .poster__col2 {
                margin-left: 0;
            }
        }

        @media screen and (min-width: $mq-min-width-1000) {
            @include grid-template-area(repeat(5, 1fr), repeat(5, 1fr), 1rem, 1rem);
            width: 80%;

            .poster__title {
                grid-area: 1 / 1 / auto / span 5;
            }

            .poster__subtitle {
                grid-area: 2 / 3;
            }

            .poster__resume {
                grid-area: 3 / 2 / span 2 / span 3;
            }

            .poster__col1 {
                grid-area: 3 / 4 / span 3 / span 2;
            }

            .poster__col2 {
                grid-area: 3 / 1 / auto / span 2;
            }

            .poster__div-more {
                grid-area: 5 / 3;
                width: 100%;

            }
        }

    }


}
