<footer class="bg-color-green-dark text-14px text-white text-center py-[15px] font-texto font-normal">
  <div class="max-w-full flex flex-col py-4 px-0 mx-auto items-center justify-center md:max-w-[80%] md:justify-between ">
    <div class="flex-1 flex flex-col items-center gap-4 text-center md:flex-row w-[90%] mx-auto md:justify-between ">

      <div class="grid grid-rows-[auto_auto] md:justify-items-start gap-y-2 content-evenly">

        <span class="inline-block col-span-2 w-full text-left align-text-bottom">Subscribir-te para tener noticias</span>

        <div class="grid grid-rows-[auto_auto] lg:grid-cols-[auto_auto] gap-4 content-evenly mx-0">
          <div class="inline-flex items-center">
            <span class=" bg-gray-100 text-black px-3 py-2 rounded-l-md text-[16px] border-r "
                  id="basic-addon1">@</span>
            <input type="text" class="px-3 py-2 rounded-r-md text-black text-lg flex-1 text-[16px]"
                   placeholder="Username"
                   aria-label="Username" id="ftEmail"
                   aria-describedby="basic-addon1">
          </div>

          <button type="button"
                  class="inline-block bg-color-violet hover:bg-color-violet-700 text-white rounded-md px-[10px] py-[5px] text-12px items-center gap-2"
                  data-bs-toggle="Subscribir-se"
                  data-bs-title="Subscribir-se"
                  data-bs-placement="bottom">
            <i class="fa-regular fa-envelope"></i> Subscribir-se !
          </button>
        </div>
      </div>
      <div>
        <address class="not-italic">
          <strong>Eco Educa, Jornadas 2025</strong><br>
          Rambla del Poblenou, 154-156<br>
          Barcelona, Barcelona, 08018<br>
          <a class="underline underline-offset-2 hover:text-color-orange" href="mailto:aramosda@uoc.edu" hreflang="es"
             aria-label="Escríbenos"
             title="Escríbenos" data-bs-toggle="escribenos" data-bs-title="Escríbenos"
             data-bs-placement="bottom">aramosda@uoc.edu</a><br>
        </address>
      </div>
    </div>

    <div class="flex-1 flex flex-col gap-4 md:flex-row w-[90%] mx-auto md:justify-between text-center my-[15px] items-center ">

      <a class="hvr-grow" href="index.html" hreflang="es" title="Inicio"
         aria-label="Ir a la página de inicio" data-bs-toggle="inicio" data-bs-title="Ir a inicio"
         data-bs-placement="bottom">
        <img src="assets/images/logo-white.svg" alt="Logo de la web" width="300" class="logo-img"
             loading="lazy">
      </a>

      <ul class="flex lg:flex-row flex-col gap-x-8 justify-around items-center content-center list-style-none md:pl-0 pl-[20px] mb-[10px]">
        <li class="hvr-grow hover:text-color-orange"><a class="text-decoration-none" href="index.html" hreflang="es" title="Inicio" aria-label="Ir a inicio"
               data-bs-toggle="tooltip" data-bs-title="Ir a inicio" data-bs-placement="bottom">Inicio</a></li>
        <li class="hvr-grow hover:text-color-orange"><a class="text-decoration-none" href="ponencias.html" hreflang="es" title="Ponencias"
               aria-label="Ir a ponencias" data-bs-toggle="tooltip" data-bs-title="Ir a ponencias"
               data-bs-placement="bottom">Ponencias</a></li>
        <li class="hvr-grow hover:text-color-orange"><a class="text-decoration-none" href="#" hreflang="es" title="Articulo"
               aria-label="Ir a articulo" data-bs-toggle="tooltip" data-bs-title="Ir a articulo"
               data-bs-placement="bottom">Acticulo</a></li>
        <li class="hvr-grow hover:text-color-orange"><a class="text-decoration-none" href="#" hreflang="es" title="Contacto"
               aria-label="Ir a contacto" data-bs-toggle="tooltip" data-bs-title="Ir a contacto"
               data-bs-placement="bottom">Contacto</a></li>
      </ul>
      <ul class="p-0 mb-4 list-style-none gap-8 flex flex-row justify-around items-center content-center">
        <li class="hvr-grow hover:text-color-orange">
          <a class="" href="https://github.com/AlexFonte/uoc-herramientas-2" hreflang="es" title="Github"
             aria-label="Ir a Github"><i class="fa-brands fa-github fa-xl"></i></a>
        </li>
        <li class="hvr-grow hover:text-color-orange">
          <a href="#" hreflang="es" title="Google plus" aria-label="Ir a Google Plus"><i
            class="fa-brands fa-google-plus-g fa-xl"></i></a>
        </li>
        <li class="hvr-grow hover:text-color-orange">
          <a href="#" hreflang="es" title="Facebook" aria-label="Ir a Facebook"><i
            class="fa-brands fa-facebook fa-xl"></i></a>
        </li>
        <li class="hvr-grow hover:text-color-orange">
          <a href="#" hreflang="es" title="Twitter" aria-label="Ir a Twitter"><i
            class="fa-brands fa-x-twitter fa-xl"></i></a>
        </li>
        <li class="hvr-grow hover:text-color-orange">
          <a href="#" hreflang="es" title="Instagram" aria-label="Ir a Instagram"><i
            class="fa-brands fa-instagram fa-xl"></i></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
